<h3>Leave a comment for me:</h3>
<form>
  Name:<br />
  <input type="text" name="name" placeholder="your name" ng-model="comment.name" /><br />
  E-mail:<br />
  <input type="text" name="mail" placeholder="your email" ng-model="comment.email" /><br />
  Comment:<br />
  <input type="text" name="comment" placeholder="your comment" size="50" ng-model="comment.comment" />
  <br /><br />
  <input type="submit" value="Submit Comment" ng-click="SubmitComment()">
  <input type="reset" value="Reset" ng-click="ClearComment()">

</form>