<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!/">Matt's Resume</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#!/">Home</a></li>
      <li><a href="#!/education" >Education</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">Applications<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#!/apps/formletter">Form Letter</a></li>
          <li><a href="#!/apps/movie">Movie Tickets</a></li>
          <li><a href="#!/apps/craps">Craps</a></li>
          <li><a href="#!/apps/change">Change</a></li>
          <li><a href="#!/apps/puzzle">Puzzle</a></li>
        </ul>
      </li>
      <li><a href="#!/comment">Contact Me</a></li>
    </ul>
  </div>
</nav>