<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Matt's Resume</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="public/partials/education.html" target="main">Education</a></li>
      <li><a href="#" target="main">Education</a></li>
      <li><a href="public/partials/contactme.html" target="main">Contact Me</a></li>
    </ul>
  </div>
</nav>