<div class="row" style="overflow: hidden; padding: 20px;">
    <div id="floated" class="col-md-2">
        <img src="https://media.licdn.com/dms/image/C4E03AQFMB5WHTX0vZw/profile-displayphoto-shrink_200_200/0?e=1533168000&v=beta&t=EzMfbcue5rBviBp6cxfKfBTYH2iVUERH-vtckM_kEjg" />
                  
    </div>
    <div class="col-md-9">
        <p>Welcome to my online resume and portfolio!
                This was specifically designed for the Computers and Congnition program at
                <a href="http://evergreen.edu">the Evergreen State College</a></p>
    </div>
    
</div>
<div class="row">
</div>
