<!-- <html> -->
 <!-- Calculates movie ticket price based of 3 pricing parameters-->
  <!-- <body> -->
   

    <table>
      <tr>
        <td><input type="button" value="_" id="btn0" onclick="TTTControl.UserClicked(this)"/></td>
        <td><input type="button" value="_" id="btn1" onclick="TTTControl.UserClicked(this)"/></td>
        <td><input type="button" value="_" id="btn2" onclick="TTTControl.UserClicked(this)"/></td>
      </tr>
      <tr>
        <td><input type="button" value="_" id="btn3" onclick="TTTControl.UserClicked(this)"/></td>
        <td><input type="button" value="_" id="btn4" onclick="TTTControl.UserClicked(this)"/></td>
        <td><input type="button" value="_" id="btn5" onclick="TTTControl.UserClicked(this)"/></td>
      </tr>
      <tr>
        <td><input type="button" value="_" id="btn6" onclick="TTTControl.UserClicked(this)"/></td>
        <td><input type="button" value="_" id="btn7" onclick="TTTControl.UserClicked(this)"/></td>
        <td><input type="button" value="_" id="btn8" onclick="TTTControl.UserClicked(this)"/></td>
      </tr>
    </table>
    <script type="text/javascript" src="TTTState.js"></script>
   <script type="text/javascript" src="TTTAI.js"></script>
   <script type="text/javascript" src="TTTuser.js"></script>
   <script type="text/javascript" src="TTTUI.js"></script>
   <script type="text/javascript" src="TTTControl.js"></script>
 <!-- </body>
</html> -->
